<div class="star-container">
  <div class="star-rating flex items-center">
    {# Loop over array of gradient offsets, created with filter in eleventy.config.js #}
    {% for offset in reviews | gradientOffset %}
      <svg viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="star-svg w-x1 md:w-stars-md " style="fill: url(#gradient{{ loop.index }});">
        <path d="M.476 6.952l7.159-.178L9.955 0l2.382 6.754 7.16.114-5.687 4.351
          2.104 6.845L10.018 14l-5.86 4.116 2.043-6.863z"/>
        <defs>
          <lineargradient id="gradient{{ loop.index }}">
            <stop offset="0%" stop-opacity="1" stop-color="#ccc"/>
            <stop offset="{{ offset }}%" stop-opacity="1" stop-color="#fff"/>
            <stop offset="{{ offset }}%" stop-opacity="1" stop-color="#000"/>
            <stop offset="100%" stop-opacity="1" stop-color="#000"/>
          </lineargradient>
        </defs>
      </svg>
    {% endfor %}
  </div>
</div>