img {
  object-fit: cover;
}
#main:focus,
video:focus {
  outline: 0;
}

.iframe-container {
  padding-top: 56.25%;
}

@media (max-width: 768px) {
  .mobile-bg {
    background: linear-gradient(0deg, black, transparent);
  }
  img {
    max-height: 80vh;
  }
}

@media (min-width: 768px) {
  .col-2 {
    column-count: 2;
    // hyphens: auto;
    // word-wrap: break-all;
  }
}
