---
layout: default
meta_title: Instrumentenversicherung – Kontakt
meta_description: Musikinstrumente, Equipment und Zubehör einfach online versichern
    ✅ weltweiter Schutz ✅ auch im Auto ✅ kostenlose, individuelle Beratung
    vom Experten
body_class: home
title: Welcome to Skeleventy!
---

<main id="main" class="" tabindex="-1">
<section class="px-x1p5 text-x2 md:text-x0p75 ">
	<h1 class="text-primary text-x6 leading-tight border-solid mb-x1">
		Kontakt
	</h1>
	<p>Hier findest Du Deine Kontaktmöglichkeiten:</p>
</section>
{# an optional and basic local business schema example #}
{# <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "{{ site.name }}",
        "image": "{{ site.url }}{{ site.images.logo }}",
        "url": "{{ site.url }}{{ page.url }}",
        "email": "{{ site.contact.email }}",
        "telephone": "{{ site.contact.phone }}",
        "priceRange": "£",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "{{ site.address.street }}",
            "addressLocality": "{{ site.address.city }}",
            "postalCode": "{{ site.address.postcode }}",
            "addressCountry": "{{ site.address.country }}"
        },
        "sameAs": [
            "{{ site.social_links.twitter }}",
            "{{ site.social_links.facebook }}",
            "{{ site.social_links.instagram }}"
        ]
    }
    </script> #}


</main>


