---
layout: default
meta_title: Instrumentenversicherung – Videos
meta_description: Musikinstrumente, Equipment und Zubehör einfach online versichern
    ✅ weltweiter Schutz ✅ auch im Auto ✅ kostenlose, individuelle Beratung
    vom Experten
body_class: home
title: Videos
---
{% from "components/youtube.njk" import youtube %}

<div class="px-x1p5 mx-auto text-x2 md:text-x0p5 md:w-3/4">
	<h1 class="text-x6 md:text-x4 text-primary leading-tighter md:text-center mb-x2">
		Videos zu I'M SOUND
	</h1>
	{{ youtube(videoid="Z6eF3d0LGos", title="I’M SOUND: How To Tour") }}
	{{ youtube(videoid="qKfRSB3JX5U", title="I'M SOUND: How-To Tutorial - Was kostet der Spaß?") }}
	{{ youtube(videoid="y0IePVtzT_o", title="Die Geldpiloten - I'M SOUND Interview mit Janina Klabes") }}
	{{ youtube(videoid="EyVNrPocl44", title="Kurz und knapp: I'M SOUND - Versicherungsschutz für Musiker") }}

	<p class="mb-x1">
		Über I'M SOUND ist alles versicherbar, was den Sound auf der Bühne, im Proberaum oder Studio ausmacht. Aber für wen genau ist I'M SOUND das passende Produkt? Wer ist die Zielgruppe? Der neue Trailer gibt Dir einen kurzen Einblick in die Lebenswelt der Zielgruppe.
	</p>
	{{ youtube(videoid="DNfMMJ7NLhw", title="I’M SOUND: Besuch bei GAGEY MROZECK") }}
	<p class="mb-x1">
		Musiker über Versicherungen - I'M SOUND hat zugehört Vor dem Wohnhaus am Rande der Mannheimer Innenstadt stehend, deutet nichts auf das Kleinod hin, in dem I'M SOUND ein Interview mit Gagey Mrozeck gedreht hat.
	</p>
	<a href="/anfrage" class="text-white bg-primary py-x0p75 px-x1 w-full block text-center md:inline-block md:w-auto md:px-x0p25 md:py-x0p25 hover:bg-primary-dark" title="Angebot anfragen">
		Jetzt anfragen
	</a>
</div>
