{% from "components/youtube.njk" import youtube %}

<section id="ueber-mich" class=" px-x1p5 pb-x3 md:py-x2 w-100 relative items-center">
    <h1 class="text-primary text-x4 md:text-center leading-tight mb-x2 border-solid">
      Häufig gestellte Fragen
    </h1>
    <div class="grid md:grid-cols-2 gap-x1">
	{% for faq in faqs %}
	   {% if loop.index == 1 or loop.index == 5 or loop.index == 10 or loop.index == 12 %}
          	{% include "components/faq-item.njk" %}
        {% endif %}
	{% endfor %}
    </div>
	<div class="md:flex md:mb-x1 md:justify-center items-center">
		<a href="/faq" class="text-x2 md:text-x0p5 underline block mb-x1 md:mb-0 mr-x1" title="FAQs aufrufen">
			Alle FAQs ansehen
		</a>
		 <a href="/anfrage" class="inline-block text-white hover:underline text-x2 md:text-x0p25 bg-secondary p-x1 md:py-x0p25 md:px-x0p5 mb-x2 md:mb-0 md:inline-flex hover:bg-secondary-dark" title="Angebot anfragen">
            Jetzt anfragen
        </a>
	</div>
</section>
