<section class=" md:flex flex-row text-light" id="reviews">
	<img src="/images/violins_kzmb3h/violins_kzmb3h_c_scale,w_1263.jpg" alt="Violinen-Sektion eines Orchesters" class="hidden  md:block md:relative md:self-center md:ml-x1p5 md:max-h-50vh md:w-2/5 md:my-x3 z-10 object-cover" [data-lazy]/>

	<div class="content py-x3 px-x1p5 md:p-x1p5 md:pl-x6 relative bg-primary md:-ml-x4">
		<h2 class=" font-medium text-x6 md:text-x2 flex-1 leading-tight md:mr-x0p5 ">
			Alle zufrieden!
		</h2>
		<div class="relative text-x2 md:text-x0p25 grid gap-x1 md:gap-x0p5 mb-x2 md:mb-x1">
			<div class="opacity-75">{{ reviews | length }}
				Bewertungen mit
				{{ reviews | ratingAverage}}
				Sternen
			</div>
			{% set recentReviews = reviews | toArray | sort(true, true, 'date')%}


			{% for review in recentReviews %}
				{% if loop.index0 < 3 %}
					{% include "components/review-item-reduced.njk" %}
				{% endif %}
			{% endfor %}

		</div>
		<a href="/reviews" class="text-x2 md:text-x0p5 underline mb-x3 md:mb-x1" title="Reviews aufrufen">
			Alle Bewertungen ansehen
		</a>
	</div>
</section>
