<section class=" text-light relative md:flex  items-center md:p-x1p5 md:py-x1 md:pb-0 w-100">
	<div
		class="hidden md:inline-block order-2">
		<img src="/images/drums_ulbs6v/drums_ulbs6v_c_scale,w_2160.jpg" alt="Schlagzeuger mit Band im Hintergrund" class="w-full"/>
	</div>
	<div class="content py-x3 px-x1p5 md:p-x1p5 text-light md:relative md:z-10 md:flex flex-col md:w-1/2 bg-secondary">
		<h3 class="text-x6 md:text-x1p5 mb-x1 leading-tight md:mb-x0p5 font-medium ">
			Keine&nbsp;
			<br class="md:hidden"/>
			Selbstbeteiligung
		</h3>
		<p class="text-x2 mb-x1 md:text-x0p25 md:mb-0">
			Mit einer Instrumentenversicherung musst Du Dir nach einer Beschädigung keine Sorgen um die Reparaturkosten machen. Auch die Kosten für ein Leihinstrument während der Reparatur übernimmt die Instrumentenversicherung. Nach einem Verlust, zum Beispiel durch Diebstahl, hilft die Auszahlung der Versicherungssumme beim Kauf eines Ersatzinstrumentes. Bei der SINFONIMA-Instrumentenversicherung gibt es keine Selbstbeteiligung. Bei der I’M SOUND-Equipmentversicherung gilt nur für wenige Spezialfälle ein Selbstbehalt.
		</p>
	</div>
</section>
