{# Reviews in JSON-LD for index and reviews pages #}
{% if page.url == "/" or page.url == "/reviews/" %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Product",
            "image": "https://musikversicherung.com/social-image.jpg",
            "name": "SINFONIMA / I'M SOUND Instrumentenversicherung",
            "brand": {
                "@type": "Brand",
                "name": "Mannheimer Versicherung AG"
            },
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "{{ reviews | ratingAverage}}",
                "reviewCount": "{{ reviews | length }}"
            },
            "review": [
                {% set recentReviews = reviews | toArray | sort(true, true, 'date') %}
                {% for review in recentReviews %}
                    {
                        "@type": "Review",
                        "author": {
                            "@type": "Person",
                            "name": "{{ review.name }}"
                        },
                        "datePublished": "{{ review.date }}",
                        "reviewBody": "{{ review.review | striptags(false)  }}",
                        "reviewRating": {
                            "@type": "Rating",
                            "bestRating": "5",
                            "ratingValue": "{{ review.rating }}",
                            "worstRating": "1"
                        }
                    }{% if not loop.last %},{% endif %}
                {% endfor %}
            ],
            "description": "Deine Versicherung für Instrumente und Equipment."
        }
    </script>
{% endif %}